.button {
  padding-left: 24px;
  padding-right: 24px;
  height: 45px;
  box-shadow: 0 0 8px 1px rgba(11, 28, 38, 0.2);
  border-radius: 22px;
  border: none;
  background-color: #28d5d2; }
  .button:disabled {
    opacity: .5;
    pointer-events: none; }
  .button__text {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400; }
