.ask {
    text-align: center;

    &__title {
        margin-bottom: 20px;
    }

    &__text {
        margin: 0 0 70px;
    }

    &__socials {
        width: 490px;
        margin: 0 auto;
    }
}