.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center; }
  .timer__error {
    color: red; }
  .timer__title {
    margin: 0 0 27px;
    color: #0b1c26;
    font-size: 23px;
    font-weight: 700; }
  .timer__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex; }
  .timer__item:not(:last-child) {
    padding-right: 54px; }
  .timer__circle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    font-size: 48px;
    font-weight: 300;
    color: #fff;
    background-color: #17d2ce;
    border-radius: 50%; }
    .timer__circle:after {
      position: absolute;
      top: 50%;
      right: -30px;
      transform: translateY(-50%);
      color: #28d5d2;
      font-family: Roboto;
      font-size: 36px;
      font-weight: 300;
      line-height: 23px;
      content: ':'; }
      .timer__item:last-child .timer__circle:after {
        content: none; }
  .timer__word {
    margin: 12px 0 0;
    font-size: 13px;
    color: #0b1c26; }
