.success {
  padding: 37px 85px 40px;
  font-size: 18px;
  color: #0b1c26;
  background-color: rgba(186, 214, 201, 0.2); }
  .success__title, .success__text {
    margin: 0;
    line-height: 1.2; }
  .success__text_indent {
    margin-top: 30px; }
  .success__links {
    margin-top: 30px;
    display: flex;
    justify-content: space-between; }
  .success__link {
    color: #245fa1;
    text-decoration: underline; }
