.footer {
  padding: 31px 0 18px;
  text-align: center;
  background-color: #0b1c26;

  &__logo {
    margin: 0 auto 36px;
  }

  &__copyright {
    margin: 0;
    color: #ffffff;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
  }
}