.tokens {
  border: 1px solid #ec5a5a;
  &__top {
    padding: 29px 20px 27px;
  }
  &__title {
    margin: 0 0 24px;
    font-weight: 700;
    font-size: 24px;
    color: #0b1c26;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__count {
    max-width: 47%;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 1;
  }
  &__divider {
    padding: 0 10px 27px;
    align-self: flex-end;
  }
  &__num {
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: 300;
    line-height: 1;
    color: #0b1c26;
  }
  &__descr {
    margin: 0;
    color: #0b1c26;
    font-size: 13px;
  }
  &__course {
    margin: 0;
    padding: 10px;
    border-top: 1px solid #ec5a5a;
    color: #898989;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
  }
}