.link {
  position: relative;
  padding-left: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 10px;
  color: #17d2ce;
  text-decoration: none; }
  .link:before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    width: 7px;
    height: 7px;
    border-top: 1px solid #17d2ce;
    border-left: 1px solid #17d2ce;
    content: ''; }
